name: CI

on:
  push:
    branches:
      - master
  pull_request:

# cancel in-progress runs on new commits to same PR (gitub.event.number)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  Checks:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - name: lint
        run: pnpm lint
      - name: check
        if: ${{ !cancelled() }} # allows checks to run if one fails so we can put them all in the same job
        run: pnpm check
  Tests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        node: [18, 20]
        os: [ubuntu-latest]
        typescript: ['5.0', '5.1', '5.2', '5.3', '5.4']
        include:
          - node: 18
            os: windows-latest
            typescript: '5.2'
          - node: 20
            os: windows-latest
            typescript: '5.3'
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2.2.2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm update typescript@~${{ matrix.typescript }}
      - name: test
        run: pnpm test
